/* 노멀라이징 */
* {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  /* 라이브러리 */
  .cell {
    float: left;
  }
  .row::after {
    display: block;
    content: "";
    clear: both;
  }
  
  .con {
    width: 1640px;
    height: 100vh;
    margin: 0 auto;
  }
  
  /* 스타일 */
  
  .top-bar-wrap {
    /*   background-color: #ddd; */
  }
  
  .top-bar-1 {
    height: 100px;
    position: relative;
  }
  .top-bar-1 > .top-bar-logo {
    width: 200px;
    height: 100px;
    margin-left: 100px;
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
  }
  .top-bar-1 > .top-bar-logo > .logo > a > img {
    padding-left: 10px;
  }
  .top-bar-1 > .top-bar-list {
    width: 900px;
    line-height: 100px;
    margin: 0 auto;
    z-index: 999;
  }
  
  .top-bar-1 > .top-bar-list > ul > li {
    width: 20%;
    font-size: 17px;
    text-align: center;
    position: relative;
    z-index: 999;
  }
  .top-bar-1 > .top-bar-list > ul > li:hover {
    color: #ff3333;
  }
  .top-bar-1 > .top-bar-list > ul > li > div {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    color: black;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    font-size: 15px;
    background-color: #fff;
  }
  
  .top-bar-1 > .top-bar-list > ul > li:hover > div {
    max-height: 400px;
  }
  
  .top-bar-1 > .top-bar-list > ul > li > div > ul > li:hover {
    color: #ff3333;
  }
  
  @font-face {
    font-family: "HangeulNuri-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Bareun_hipi";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Bareun_hipi.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "TTSeokbosangjeolB";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.2/TTSeokbosangjeolB.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "InfinitySans-BoldA1";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Cafe24SsurroundAir";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  /* 노멀라이징 */
  * {
    margin: 0;
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  /* 라이브러리 */
  .cell {
    float: left;
  }
  .row::after {
    display: block;
    content: "";
    clear: both;
  }
  
  /* main-bar1 시작 */
  
  .main-bar-wrap {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .main-bar-wrap > .main-bar1 {
    width: 100%;
    height: 600px;
    position: relative;
  }
  .main-bar-wrap > .main-bar1 > .main-slider {
    width: 100%;
    margin: 0 auto;
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider > .bt-box > .bt-left {
    position: absolute;
    left: 1%;
    top: 30%;
    cursor: pointer;
    z-index: 999;
  }
  .main-bar-wrap > .main-bar1 > .main-slider > .bt-box > .bt-right {
    position: absolute;
    right: 1%;
    top: 30%;
    cursor: pointer;
    z-index: 999;
  }
  
  .bt-box div img {
    height: 250px;
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider > .slider-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .slider-img div img {
    height: 650px;
  }
  
  /* main-bar1 끝 */
  
  /* main-bar2 시작 */
  
  .main-bar-wrap > .main-bar1 > .main-slider2 {
    height: 700px;
    padding-top: 30px;
    box-sizing: border-box;
    /*   background-color: red; */
  }
  
  /* main-ev 시작 */
  
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-ev {
    width: 44%;
    height: 600px;
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-ev > .ev-img {
    width: 550px;
    height: 600px;
    margin: 0 auto;
  }
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-ev > .ev-img > img {
    width: 100%;
    height: 100%;
  }
  
  /* main-ev 끝 */
  /* main-top 시작 */
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-top {
    width: 50%;
    height: 50%;
    background-color: white;
    position: relative;
    border-bottom: 1px solid #ddd;
  }
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-top
    > .top-bt-box
    > .top-le-bt {
    position: absolute;
    left: -1%;
    top: 35%;
    cursor: pointer;
    z-index: 999;
    opacity: 0.7;
  }
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-top
    > .top-bt-box
    > .top-r-bt {
    position: absolute;
    right: 0%;
    top: 35%;
    cursor: pointer;
    z-index: 999;
  }
  
  .top-bt-box div img {
    height: 60px;
  }
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-top > .top-imge {
    width: 650px;
    height: 270px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-top > .top-imge > img {
    width: 100%;
  }
  
  .top-imge div img {
    height: 260px;
  }
  
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-top
    > .top-imge
    .slick-dots
    li
    button:before {
    font-family: "slick";
    font-size: 5px;
    line-height: 20px;
    opacity: 0.5;
    color: #ff8a0b;
  }
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-top
    > .top-imge
    .slick-dots
    li.slick-active
    button:before {
    opacity: 0.9;
    color: #ff7900;
    font-size: 14px;
  }
  
  /* main-top 끝 */
  
  /* main-bt 시작  */
  
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-bt {
    width: 50%;
    height: 47%;
    overflow: hidden;
    position: relative;
  }
  
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-bt
    > .main-bt-box
    > .main-le-bt {
    position: absolute;
    left: -1%;
    top: 35%;
    cursor: pointer;
    z-index: 999;
    opacity: 0.7;
  }
  .main-bar-wrap
    > .main-bar1
    > .main-slider2
    > .main-bt
    > .main-bt-box
    > .main-r-bt {
    position: absolute;
    right: -0%;
    top: 35%;
    cursor: pointer;
    z-index: 999;
  }
  
  .main-bt-box div img {
    height: 60px;
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-bt > .bt-img {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  .main-bar-wrap > .main-bar1 > .main-slider2 > .main-bt > .bt-img > img {
    width: 100%;
  }
  
  .bt-img div img {
    height: 350px;
  }
  
  /* main-bt 끝  */
  
  /* main-slider3 시작 */
  
  .main-bar-wrap > .main-bar1 > .main-slider3 {
    width: 100%;
    height: 600px;
    position: relative;
    
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider3 > .txt-box {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
  .main-bar-wrap > .main-bar1 > .main-slider3 > .txt-box > span > h1 {
    font-size: 70px;
    line-height: 90px;
    font-family: "TTSeokbosangjeolB";
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider3 > .mom-box > .main-bc {
    transform:translate(0%,21%);
    box-sizing:border-box;
    z-index: 999;
  }
  .main-bar-wrap > .main-bar1 > .main-slider3 > .mom-box > .main-bc{
    display:flex;
    padding-top:60px;
    box-sizing:border-box;
    width:1206px;
    height:480px;
    margin:0 auto;
  }
  
  .main-bar-wrap
    > .main-bar1
    > .main-slider3 >.mom-box
    > .main-bc
   .img-txt {
     
    font-size: 21px;
    text-align: center;
    width: 291px;
    height: 130px;
    background-color: white;
    font-family: "Cafe24SsurroundAir";
    padding-top: 5px;
    box-sizing: border-box;
  }
  .main-bar-wrap
    > .main-bar1
    > .main-slider3 > .mom-box
    > .main-bc .img-txt
    > .txt-box {
    font-weight: bold;
    line-height: 35px;
    margin-top: 5px;
  }
  
  .main-bar-wrap
    > .main-bar1
    > .main-slider3 > .mom-box
    > .main-bc
    .img-txt
    > .txt-box
    > .txt2 {
    width: 100px;
    height: 100px;
    margin-top: -100px;
    font-size: 15px;
    font-weight: normal;
  }
  
  
  .main-bar-wrap
    > .main-bar1
    > .main-slider3
    > .main-bc
    > .manu-box-wrap
    > .menu-img
    > img {
      width:291px;
      height:500px;
      
  }
  
  .main-bar-wrap > .main-bar1 > .main-slider3 > .bc-img > img {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 650px;
    opacity: 0.5;
  }
  
  
  /* main-slider3 끝 */
  
  /* location-wrap 시작  */
  
  .location-wrap {
    margin-top: 95px;
    width: 100%;
    height: 430px;
    background-color: #eee;
  }
  .location-wrap > .location-box-wrap {
    width: 1240px;
    height: 430px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .location-wrap > .location-box-wrap > .location-box {
    width: 700px;
    height: 430px;
    border: 3px solid #ddd;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    margin-right: 60px;
  }
  
  .location-wrap > .location-box-wrap > .location-box > .location-img {
    width: 100%;
    height: 230px;
    border-bottom: 1px solid #ddd;
  }
  .location-wrap > .location-box-wrap > .location-box > .location-img > img {
    width: 100%;
  }
  
  .location-img img {
    height: 230px;
  }
  .location-wrap > .location-box-wrap > .location-box > .location-click > p {
    position: absolute;
    top: 63%;
    left: 4%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .location-wrap > .location-box-wrap > .location-box > .location-click > span {
    position: absolute;
    top: 83%;
    left: 3%;
    width: 70px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .location-wrap > .location-box-wrap > .location-box > .location-click > #sido1 {
    position: absolute;
    top: 60%;
    left: 15%;
    width: 190px;
    height: 50px;
    text-align: center;
  }
  
  .location-wrap
    > .location-box-wrap
    > .location-box
    > .location-click
    > #gugun1 {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 190px;
    height: 50px;
    text-align: center;
  }
  
  .location-wrap > .location-box-wrap > .location-box > .location-click > input {
    position: absolute;
    top: 80%;
    left: 15%;
    width: 390px;
    height: 48px;
    text-align: center;
    font-size: 14px;
  }
  .location-wrap > .location-box-wrap > .location-box > .location-click > button {
    position: absolute;
    top: 60%;
    left: 75%;
    width: 150px;
    height: 140px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #888;
  }
  
  .location-wrap > .location-box-wrap > .location-tit {
    width: 450px;
    height: 430px;
    border: 3px solid #ddd;
    box-sizing: border-box;
  }
  .location-wrap > .location-box-wrap > .location-tit > .tit-img {
    width: 100%;
    height: 430px;
  }
  .location-wrap > .location-box-wrap > .location-tit > .tit-img > img {
    width: 100%;
  }
  
  .tit-img img {
    height: 425px;
  }
  
  /* location-wrap 끝 */
  
  /* footer-wrap 시작 */
  
  .footer-wrap {
    margin-top: 40px;
    width: 100%;
    height: 130px;
    background-color: #333333;
  }
  .footer-wrap > .ft-txt {
    width: 530px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
  }
  
  .footer-wrap > .ft-img {
    width: 130px;
    margin: 0 auto;
  }
  .footer-wrap > .text {
    text-align: center;
    margin-top: -1px;
    color: white;
    font-size: 14px;
  }
  /* footer-wrap 끝 */
  
  
  .menu-box-wrap slick-slide slick-current slick-active{
    width:700px;
    height:500px;
  }
  div .menu-img{
    width:291px;
    height:269px;
    background-color: #fff;
  }
  .mom-box .main-bc .slick-prev:before{
      font-family: 'slick';
      font-size: 10px;
      line-height: 1;
      margin-left:-100px;
      opacity: .99;
      color: #ff7900;
      font-size: 30px;
      webkit-font-smoothing: antialiased;
  }
  
  .mom-box .main-bc .slick-next:before {
      font-family: 'slick';
      font-size: 10px;
      line-height: 1;
      margin-left:30px;
      opacity: .99;
      color: #ff7900;
      font-size: 30px;
     webkit-font-smoothing: antialiased;
  }
  